<!-- 首页界面 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RecipeWeb</title>
    <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../static/css/comment.css">
    <link rel="stylesheet" href="./../static/css/index.css">

    <script type="text/javascript" src="./../static/js/jquery.js"></script>
    <script type="text/javascript" src="./../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="./../static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top justify-content-center">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand fontsize_0">
                <img src="./../static/imgs/logo1.png" width="40px" height="40px">
                <img src="./../static/imgs/logo2.png" width="100%" height="40px">
            </a>
            <!-- 功能菜单 -->
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('recipe')}}">食谱</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('food')}}">食材</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('news')}}">饮食新闻</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('userwork')}}">用户作品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('releasework')}}">发布作品</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">个人中心</a>
                </li> -->
            </ul>
            <!-- 搜索框-表单 -->
            <form class="form-inline" method="get" action="/search">
                <div class="input-group input-group-sm" placeholder="搜素食谱、食材">
                    <input type="text" class="form-control" name="inputname">
                    <div class="input-group-append">
                        <button type="submit"  class="btn btn-secondary">搜索</button>
                    </div>
                </div>
            </form>
            <!-- 登录注册按钮 -->
            <!-- <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">登录</a>
                </li>
                <span class="navbar-text">|</span>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register')}}">注册</a>
                </li>
            </ul> -->
            {% include 'comment.html' %}
        </div>
    </nav>
    <br><br>
    
    <!-- 主体内容 -->
    <div class="container">
        <!-- 轮播图 -->
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
            </ul>
            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./../static/imgs/lb1.jpg">
                </div>
                <div class="carousel-item">
                    <img src="./../static/imgs/lb2.jpg">
                </div>
                <div class="carousel-item">
                    <img src="./../static/imgs/lb3.jpg">
                </div>
                <div class="carousel-item">
                    <img src="./../static/imgs/lb4.jpg">
                </div>
                <div class="carousel-item">
                    <img src="./../static/imgs/lb5.jpg">
                </div>
            </div>
            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <br>
        
        <!-- 精选食谱 -->
        <div class="recipe_card">
            <h5 class="font-weight-bold inline_block">精选食谱</h5>
            <a href="{{url_for('recipe')}}" class="more">更多 ></a>
            <!-- 食谱表格 -->
            <div class="recipe_table">
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-3">
                            <a href="{{ url_for('detail', ID=recipe['id'])}}?html_id=1" title="{{ recipe['name'] }}">
                                <img  class="rounded" src="{{ recipe['img'] }}" width="100%" height="auto">
                                <p class="text-center">{{ recipe['name'] }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </table>
        </div>
        <br>

        <!-- 热门食材 -->
        <div class="food_card">
            <h5 class="font-weight-bold inline_block">热门食材</h5>
            <a href="{{url_for('food')}}" class="more">更多 ></a>
            <!-- 食材表格 -->
            <div class="food_table">
                <div class="row">
                    {% for food in foods %}
                        <div class="col-2">
                            <a href="{{ url_for('detail', ID=food['id'])}}?html_id=2" title="{{ food['name'] }}">
                                <img  class="rounded" src="{{ food['img'] }}" width="100%" height="100px">
                                <p class="text-center">{{ food['name'] }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>

        <!-- 饮食新闻 -->
        <div class="news_card">
            <h5 class="font-weight-bold inline_block">饮食新闻</h5>
            <a href="{{url_for('news')}}" class="more">更多 ></a>
            <!-- 新闻表格 -->
            <div class="news_table">
                <div class="row">
                    {% for new in news %}
                        <div class="col-6">
                            <a href="{{ url_for('detail', ID=new['id'])}}?html_id=3" title="{{ new['name'] }}">
                                <img class="rounded" src="{{ new['img'] }}" width="200px" height="120px">
                                <div class="inline_block news_txt">
                                    <span class="news_title">{{ new['name'] }}</span><br>
                                    <span class="">发布时间：{{ new['time'] }}</span><br>
                                    <span class="">{{ new['author'] }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="">来自：{{ new['source'] }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>

        <!-- 用户作品 -->
        <div class="userwork_card">
            <h5 class="font-weight-bold inline_block">用户作品</h5>
            <a href="{{url_for('userwork')}}" class="more">更多 ></a>
            <!-- 作品表格 -->
            <div class="userwork_table">
                <div class="row">
                    {% for userwork in userworks %}
                        <div class="col-6">
                            <a href="{{ url_for('detail', ID=userwork['id'])}}?html_id=4" title="{{ userwork['name'] }}">
                                <img class="rounded" src="{{ userwork['img'] }}" width="200px" height="120px">
                                <div class="inline_block news_txt">
                                    <span class="news_title">{{ userwork['name'] }}</span><br>
                                    <span class="">发布时间：{{ userwork['time'] }}</span><br>
                                    <span class="">发布用户：{{ userwork['author'] }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <!-- 网站尾部 -->
    <footer class="footer fixed-bottom">
        <div>
            <span>京公网安备 11010502038268号 京ICP备09012748号</span>
        </div>
        <div>
            <span>京网文【2017】6954-770号 食品流通许可证SP1101061510252413</span>
        </div>
    </footer>
</body>

</html>