<!-- 饮食新闻界面 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RecipeWeb</title>
    <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../static/css/comment.css">
    <link rel="stylesheet" href="./../static/css/index.css">

    <script type="text/javascript" src="./../static/js/jquery.js"></script>
    <script type="text/javascript" src="./../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="./../static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top justify-content-center">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand fontsize_0">
                <img src="./../static/imgs/logo1.png" width="40px" height="40px">
                <img src="./../static/imgs/logo2.png" width="100%" height="40px">
            </a>
            <!-- 功能菜单 -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('recipe')}}">食谱</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('food')}}">食材</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('news')}}">饮食新闻</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('userwork')}}">用户作品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('releasework')}}">发布作品</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">个人中心</a>
                </li> -->
            </ul>
            <!-- 搜索框-表单 -->
            <form class="form-inline" method="get" action="/search">
                <div class="input-group input-group-sm" placeholder="搜素食谱、食材">
                    <input type="text" class="form-control" name="inputname">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">搜索</button>
                    </div>
                </div>
            </form>
            <!-- 登录注册按钮 -->
            {% include 'comment.html' %}
        </div>
    </nav>
    <br><br><br>
    
    <!-- 主体内容 -->
    <div class="container">
        <!-- 饮食新闻 -->
        <div class="news_card">
            <!-- 新闻表格 -->
            <div class="news_table">
                <div class="row">
                    {% for new in news %}
                        <div class="col-6">
                            <a href="{{ url_for('detail', ID=new['id'])}}?html_id=3" title="{{ new['name'] }}">
                                <img class="rounded" src="{{ new['img'] }}" width="200px" height="120px">
                                <div class="inline_block news_txt">
                                    <span class="news_title">{{ new['name'] }}</span><br>
                                    <span class="">发布时间：{{ new['time'] }}</span><br>
                                    <span class="">{{ new['author'] }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="">来自：{{ new['source'] }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <!-- 分页区域 -->
            <div class="page_nums">
                {{ paginate.links }}
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <!-- 网站尾部 -->
    <footer class="footer fixed-bottom">
        <div>
            <span>京公网安备 11010502038268号 京ICP备09012748号</span>
        </div>
        <div>
            <span>京网文【2017】6954-770号 食品流通许可证SP1101061510252413</span>
        </div>
    </footer>

</body>

</html>